@import url("../assets/fonts/stylesheet.css");
html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

*, *::before, *::after {
  box-sizing: inherit; }

body {
  font-size: 1.6rem;
  font-family: 'Museo Sans 500', Arial, sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0; }

@media screen and (max-width: 667px) {
  p {
    font-size: 1.8rem;
    text-align: justify; } }

a {
  text-decoration: none;
  color: inherit;
  font-weight: bolder; }

/* header section */
header {
  position: relative;
  background-position: top;
  padding-top: 15%;
  overflow: hidden; }
  header::before {
    position: absolute;
    content: '';
    width: 200%;
    height: 200%;
    top: -33%;
    left: -50%;
    transform: rotate(174deg) scale(1.4, 0.5);
    z-index: -1;
    background-image: url("../assets/images/mars_full.jpg");
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat; }
  header h1, header h2 {
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    font-size: 5rem;
    letter-spacing: 0.3rem; }
  header h2 {
    letter-spacing: 0.1rem;
    font-size: 2.2rem; }

/* main section */
main {
  margin: 5%; }
  @media screen and (max-width: 667px) {
    main {
      margin-top: 15%; } }
  main blockquote {
    float: left;
    margin-left: 0;
    margin-right: 0.5rem;
    margin-bottom: 2rem;
    position: relative;
    left: -2rem;
    font-size: 1.7rem;
    width: 20%;
    padding: 3rem 0;
    border-style: solid;
    border-width: 4px;
    border-right: 0;
    border-left: 0;
    /* Portrait */ }
    main blockquote::before {
      content: open-quote; }
    main blockquote::after {
      content: close-quote; }
    @media screen and (max-width: 768px) {
      main blockquote {
        /* Portrait styles */
        width: 50%;
        margin-left: 1.2rem;
        font-size: 2rem; } }
    @media screen and (max-width: 667px) {
      main blockquote {
        width: 100%;
        text-align: center;
        left: 0;
        margin: 2rem 0;
        font-size: 2.6rem;
        /* Portrait */ } }
  @media only screen and (max-width: 667px) and (orientation: landscape) {
    main blockquote {
      /* Portrait styles */
      font-size: 3rem; } }
  main h3 {
    position: relative;
    left: -2rem; }
    @media screen and (max-width: 667px) {
      main h3 {
        left: 0;
        font-size: 2.5rem; } }
  main figure {
    float: right;
    margin-right: 0;
    margin-left: .5rem;
    margin-bottom: 2rem;
    position: relative;
    right: -2rem;
    font-size: 1.7rem;
    width: 20%;
    padding: 3rem 0;
    border-style: solid;
    border-width: 4px;
    border-right: 0;
    border-left: 0;
    /* Portrait */
    border-top-width: 0; }
    @media screen and (max-width: 768px) {
      main figure {
        /* Portrait styles */
        width: 50%;
        margin-right: 1.2rem;
        font-size: 2rem; } }
    @media screen and (max-width: 667px) {
      main figure {
        width: 100%;
        text-align: center;
        right: 0;
        margin: 2rem 0;
        font-size: 2.6rem;
        /* Portrait */ } }
  @media only screen and (max-width: 667px) and (orientation: landscape) {
    main figure {
      /* Portrait styles */
      font-size: 3rem; } }
    main figure figcaption {
      text-align: center;
      font-size: 1.1rem; }
      @media screen and (max-width: 768px) {
        main figure figcaption {
          /* Portrait styles */
          font-size: 1.4rem; } }
      @media screen and (max-width: 667px) {
        main figure figcaption {
          font-size: 1.6rem; } }
  @media only screen and (max-width: 667px) and (orientation: landscape) {
    main figure figcaption {
      /* Portrait styles */
      font-size: 2rem; } }
    main figure img {
      width: 100%; }
  main form span {
    font-style: italic; }
  main form p {
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem; }
    @media screen and (max-width: 667px) {
      main form p {
        text-align: justify; } }
  main form label {
    display: block;
    margin-left: 40%;
    line-height: 1.5;
    font-size: 2rem;
    color: #44bf40; }
    @media screen and (max-width: 768px) {
      main form label {
        margin-left: 25%; } }
    @media screen and (max-width: 667px) {
      main form label {
        margin-left: 0; } }
    main form label:nth-child(even) {
      color: #bdbf40; }
    main form label:last-child {
      color: red; }
    main form label input[type="radio"] {
      margin-right: 1rem; }
